<div class="container">

	Home page!

	<%= render 'workouts/shared/new_workout' %>





	<!-- Notifications -->
	<%# render 'dashboard/shared/notifications_home' %>

	<!-- My Work Outs -->
	<%= render 'dashboard/shared/my_work_out_summary' %>

	<!-- My Groups -->
	<%# render 'dashboard/shared/my_group' %>

</div>

 