
<center>

<h1>
	Welcome to Social Fitness
</h1>

<h2>
	The best tool to keep you motivated and working out!
</h2>

</center>

<div class="panel panel-default">
  <div class="panel-heading">Panel heading without title</div>
  <div class="panel-body">
    Panel content
  </div>
</div>

