
<h1>
	<%= @group_to_render.name%>
</h1>

<% @group_to_render.users.each do |user| %>

	<%= user.full_name %>

<% end %>

<hr/>
	
	<h1>
		Recent Workouts
	</h1>

	<% @work_outs_to_render.each do |work_out| %>
	
		<%= render_work_out_in_group(work_out) %>

		<hr/>

	<% end %>

<hr/>


<br/>


