
<div class="panel panel-primary">
	<h1>
		My Workout Summary
	</h1>

		<%= render 'workouts/shared/new_workout'
		%>

	<br/>

	<ul class="list-inline">
    
		<% unless current_user.workouts.empty? %>

			<% current_user.workouts.each do |workout| %>


				<li>
					<%= render_work_out(workout, 'tile') %>
				</li>

			<% end %>
		<% end %>

	</ul>

<br/>
<br/>
<br/>

</div>